# This is a comment - will be ignored

/Volumes/LaCie/Experiments/AI/Anthony/Anthony.pth
/Volumes/LaCie/Experiments/AI/Benedict/Benedict.pth
/Volumes/LaCie/Experiments/AI/Claudia/Claudia.pth

# Empty lines are also ignored